<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.home:-${user.home}}/logs/redisson.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>utf-8</charset>
			<Pattern>%d %-5level [%thread] %logger{0}: %msg%n</Pattern>
		</encoder>
	</appender>

	<logger name="org.redisson" level="INFO" />

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
	<!-- https://logback.qos.ch/manual/configuration.html#shutdownHook and https://jira.qos.ch/browse/LOGBACK-1090 -->
	<shutdownHook
		class="ch.qos.logback.core.hook.DelayingShutdownHook" />

	<contextListener
		class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

</configuration>
